<div>
    <div id="bd">
        <div id="nonav" class="page-simple">
            <table class="spaced">
                <tbody><tr>
                    <td align="center">
                        <div id="login_form">
                            <form action="/sessions/login" method="post">
                                <input name="return_to_anchor" value="" type="hidden">
                                <h3><label for="Login">Login</label></h3>
                                <p>
                                    <input id="login" maxlength="255" name="login" style="width:200px;" value="" type="text">

                                </p>
                                <h3><label for="Password">Password</label></h3>
                                <p>
                                    <input autocomplete="off" id="password" name="password" style="width:200px;" type="password">
                                </p>
                                <p>
                                    <input id="remember_me" name="remember_me" value="1" type="checkbox"> <label for="remember_me">Remember me on this computer</label>
                                </p>
                                <p>
                                    <input name="commit" value="Log in" type="submit">,
                                    <a href="/" class="action">Cancel</a>, or
                                    <a href="/sessions/oauth2" class="action">Login with Google</a>

                                </p>
                            </form>

                        </div>
                    </td>
                </tr>
                </tbody></table>
            <script>
                $j('#login').focus();
                if (!$j('[name=return_to_anchor]').val()) {
                    $j('[name=return_to_anchor]').val(window.location.hash);
                }
            </script>

        </div>
    </div>
</div>