<div>
  <div id="bd">
    <div id="nonav" class="page-simple">
      <div id="content"><form id="login_form" action="/sessions/login" method="post">
        <input name="return_to_anchor" value="" type="hidden">

        <h1 class="maintenance-title text-center">Log In to SonarQube</h1>




        <div class="big-spacer-bottom">
          <label for="login" class="login-label">Login</label>
          <input id="login" name="login" class="login-input" maxlength="255" required="" placeholder="Login" type="text">

        </div>

        <p class="big-spacer-bottom">
          <label for="password" class="login-label">Password</label>
          <input id="password" name="password" class="login-input" required="" placeholder="Password" type="password">
        </p>

        <p class="big-spacer-bottom">
          <input class="login-remember-me" id="remember_me" name="remember_me" value="1" checked="" type="checkbox">
          <label for="remember_me"></label>
          <label for="remember_me">Remember me on this computer</label>
        </p>

        <p class="text-right">
          <button name="commit">Log in</button>
          <a class="spacer-left" href="/">Cancel</a>, or
          <a href="/sessions/oauth2" class="action">Login with Google</a>
        </p>
      </form>
        <script>
          (function ($) {
            $('#login').focus();
            var returnToAnchor = $('[name="return_to_anchor"]');
            if (!returnToAnchor.val()) {
              returnToAnchor.val(window.location.hash);
            }
          })(window.jQuery);
        </script>
      </div>
    </div>
  </div>
</div>